# Dependencias
node_modules/
package-lock.json

# Archivos de construcción y despliegue
.aws-sam/
samconfig.toml
.env
.env.*

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor y sistema operativo
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Testing
coverage/
.nyc_output/

# Build output
dist/
build/
tmp/

# Otros
.serverless/